*{
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

main {
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-container {
  width: 400px;
  height: 530px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.post-header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.post-header i {
  font-size: 30px;
}

.post-user {
  display: flex;
}

.post-user i {
  font-size: 40px;
  margin-right: 10px;
}

.post-user h3 

.image-container {
  width: 100%;
  height: 60%;
}

.image-container img {
  width: 100%;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  padding: 0 10px;
}

.like{
  margin: 10px;
}

.text {
  margin: 0 10px;
}

